body{
    margin: 0px;
}

a{
    margin-top: 20px;
   
}



h1{
    font-size: 80px;
    font-weight: 600;
    text-align: center;
    border: 2px solid yellow;
    color: orange;
    margin-bottom: -55px;
    margin-top: -20px;
   padding-top: 20px;
   padding-bottom: 20px;
}

h4{
    font-size: 30px;
    margin-bottom: 10px;

}

.header{
    background-color: yellow;
   
    
}

.search{
    height: 90vh;
    background-color: greenyellow;
    padding-bottom: 20px;
    width: 30%;
    padding-left: 30px;
    margin-top: 55px;
    padding-top: 10px;
    
    
    
}
input{
    padding-bottom: 10px;
    padding-top: 0px;
    padding-right: 10px;
    margin-top: 0px;
    margin-right: -10;
    display: inline-block;
    margin-bottom: -10px;

}

i{
    font-size: 20px;
    display: inline-block;

}
button{
background-color: white;
display: inline-block;
padding-bottom: 10px;
margin-right: -5px;
}

.low{
    border-radius: 6px;
    background-color: lightblue;
    padding: 5px;
    color: white;
}

.moderate{
    border-radius: 6px;
    background-color: yellow;
    padding: 5px;
    color: black;
}

.high{
    border-radius: 6px;
    background-color: lightgreen;
    padding: 5px;
    color: black;
}

.vhigh{
    border-radius: 6px;
    background-color: red;
    padding: 5px;
    color: white;
}

.extreme{
    border-radius: 6px;
    background-color: black;
    padding: 5px;
    color: white;
}

h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }

  .card-header{
      background-color: yellow;
      color: orange;
      font-weight: 500;
  }

  .card-body{
      padding-left: 5px;
     
  }

  .list-group-item-primary{
      background-color: orange;
  }